.logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $font-title;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo__text {
    color: $accent;
}

.footer__logo {
    margin-bottom: 20px;
    color: $footer-text;
}