:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --bgc-color: #2f303a;
    --accent-color: #2196F3;
    --btn-hover: #188ce8;
    --basic-white: #fff;
    --individual-black-logo: #000000;
    --individual-bgc-color: #f5f4fa;
    --icon-color: #afb1b8;
    --header-border-color: #ececec;
    --time-transition: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}